<div class="container animated fadeIn" >

    <h1 style="display: inline-block;" class="mt-3">Carrito</h1>
    <hr class="mb-4">

    <div class="row">
        <div class="col-lg-8 col-md-7 mb-4">
            <div class="row mb-4">
                <h2 class="mb-3">Direcciones</h2>

                <div class="col-6">
                    <div (click)="ownAddress()" 
                    [ngClass]="{'address-card-selected': ownAdr ,'address-card': !ownAdr}">
                        <h5>Direccion:  
                            <i *ngIf="ownAdr" class="animated fadeIn fast float-end text-acent fas fa-check"></i>
                        </h5>
                        <p style="font-size: 14px;">C/ Duarte, #33</p>
                    </div>
                </div>

                <div class="col-6 text-center" *ngIf="!newAdr" >
                    <button (click)="newAddress()" class="btn btn-acent mt-4">Dirección prov 
                        <i class="mx-2 fas fa-plus-circle"></i>                            
                    </button>
                </div>

                <div class="col-6" *ngIf="newAdr" >
                    <div (click)="provAddress()" 
                    [ngClass]="{'address-card-selected': provAdr ,'address-card': !provAdr}">
                        <h5>Direccion prov: 
                            <i *ngIf="provAdr" class="animated fadeIn fast float-end text-acent fas fa-check"></i>
                        </h5>
                        <p style="font-size: 14px;">{{provitionalAddress}}</p>
                    </div>
                </div>
                
            </div>
            <h2 class="mb-3">Productos</h2>
            <div>
                <div *ngIf="cartList.length == 0" class="animated fadeIn alert alert-warning">
                    Usted no tiene ningún producto en el carrito
                </div>
                
                <app-cart-card class="animated fadeIn" (event)="delete($event)" *ngFor="let cart of cartList" [cartData]="cart" ></app-cart-card>

            </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
            <div class="borders-acent">

                <h5 >
                    Sub-Total: 
                    <strong class="text-acent">${{subtotal}}</strong>
                </h5>
                <h5>
                    Descuento: 
                    <strong class="text-acent">${{descuento}}</strong>
                </h5>
                <h5 class="mb-3">
                    Total: 
                    <strong class="text-acent">${{total}}</strong>
                </h5>
                <button class="btn btn-sm btn-acent w-100">Ordenar ahora</button>
            </div>
        </div>
    </div>

</div>