
.product-card {
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.20);
    
}

.product-img {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.product-img:hover{
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;    
}

.product-img-container :only-child{
    padding-bottom: 6px;
    
}

.product-card-body{
    margin-top: 4px;
    transition: all 0.15s linear;

}
.product-card-body strong, p:hover{
    transform: scale(1.005);
    color: rgb(48, 48, 48);
}

.product-card-body h3:hover{
    transform: scale(1.005);
}

.product-desc{
    color: rgb(97, 97, 97);
    transition: all 0.15s linear;
    transition: all 0.15s linear;

}

//Animaciones

.product-card img {
    transition: all 0.20s linear;
    position: relative;
}

.btn:hover{
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.15);
    margin-right: 3px;
    transition: all 0.15s linear;

}

.product-card img:hover {
    transform: scale(0.98);
}

.card-footer-element{
    margin-left: 14px;
    float: right; 
    bottom: 0;
}
$blur: blur(20px);


