
    <div class="product-card animated fadeIn fast mb-3">
        <div class="product-img-container">
            <img class="product-img card-img" src="../../../../assets/hamburguesa.jpg" alt="Imagen del producto {{productData.name}}">
        </div>
        <div class="product-card-body">
            <h3 class="text-capitalized">
                <strong>
                    {{productData.name}}
                </strong>
            </h3>
            <p class="product-desc">
                {{productData.desc}}
            </p>
            <div style="overflow: hidden;" >              
                <button 
                class="card-footer-element btn btn-acent">
                    Hacer pedido 
                    
                    ( {{productData.price}} )        
                </button>            
            </div>
        </div>
    </div>
