
.product-card {
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.20);
    cursor: pointer;
}

.product-card:hover img{
    border-bottom-left-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    transform: scale(0.98);
}


.product-img {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


.product-img-container :only-child{
    padding-bottom: 6px;
    
}

.product-card-body{
    margin-top: 4px;
    transition: all 0.15s linear;
}


$line-height: 1.2;
$lines: 1;

.product-desc{
    color: rgb(97, 97, 97);
    transition: all 0.15s linear;
    display: block;
    display: -webkit-box;
    height: $line-height * $lines;
    line-height: $line-height;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 16px;
}

//Animaciones

.product-card img {
    transition: all 0.20s linear;
    position: relative;
}

.btn:hover{
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.15);
    margin-right: 3px;
    transition: all 0.15s linear;

}

$blur: blur(20px);


