
    <div class="product-card animated fadeIn fast mb-3">
        <div class="product-img-container">
            <img class="product-img card-img" src="../../../../assets/hamburguesa.jpg" alt="">
        </div>
        <div class="product-card-body">
            <h3 class="text-capitalized">
                <strong>
                    Hamburguesa
                </strong>
            </h3>
            <p class="product-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facere obcaecati dignissimos, fugiat delectus enim quis omnis explicabo expedita, tempora nam quas tenetur dolores et. Soluta quod voluptatum quaerat earum.
            </p>
            <div style="overflow: hidden;" >              
                <button 
                class="card-footer-element btn btn-acent">
                    Hacer pedido 
                    
                    ( $150.00 )        
                </button>            
            </div>
        </div>
    </div>
