<div class="container animated fadeIn">

    <h1 style="display: inline-block;" class="mt-3">Ordenes</h1>
    <hr class="mb-4">

    <div class="row px-2">

        <div
        id="ordered" (click)="changeTab(ordered.id)" #ordered class=" col-3 text-center"
        [ngClass]="orderedActive? 'tab-set': 'tab-not'"
        >
            Ordenado
        </div>
        <div [ngClass]="{'tab-set': acceptedActive,'tab-not':!acceptedActive}"
        id="accepted" (click)="changeTab(accepted.id)" #accepted class=" col-3 tab-not text-center ">
            Aceptado
        </div>
        <div [ngClass]="{'tab-set': inTransitActive,'tab-not':!inTransitActive}"
        id="inTransit" (click)="changeTab(inTransit.id)" #inTransit class="col-3  tab-not text-center ">
            En transito
        </div>
        <div [ngClass]="{'tab-set': deliveredActive,'tab-not':!deliveredActive}"
        id="delivered" (click)="changeTab(delivered.id)" #delivered class="col-3 tab-not text-center  ">
            Recibidas
        </div>
        
    </div>

    <div class="row mt-3 pt-3 ">

        <div *ngIf="orderList.length === 0" class="animated fadeIn alert alert-warning">
            No hay ninguna orden en este estado
        </div>

        <table *ngIf="orderList.length > 0"  class="table animated fadeIn">
              
            <thead style="width: 100%;" >
              <tr class="text-center">
                <th class="th-left" scope="col">Direccion</th>
                <th scope="col">Total</th>
                <th scope="col">Cantidad</th>
                <th class="th-right" scope="col">Fecha</th>
              </tr>
            </thead>

          <tbody >
              <tr *ngFor="let order of orderList; let i = index" 
              class="text-center mt-4 ">
              <td>{{order.address}}</td>
              <td>${{order.total}}</td>
              <td>{{orderList.length}}</td>
              <td >{{order.createdAt == 'Hoy'? order.createdAt: order.createdAt | date}}</td>              
            </tr>              
            
          </tbody>

         
        </table>
    </div>

</div>