<div class="container animated fadeIn">

    <h1 style="display: inline-block;" class="mt-3">Ordenes</h1>
    <hr class="mb-4">

    <div class="row">

        <div
        id="ordered" (click)="changeTab(ordered.id)" #ordered class=" col-3 text-center"
        [ngClass]="orderedActive? 'tab-set': 'tab-not'"
        >
            Ordenado
        </div>
        <div [ngClass]="{'tab-set': acceptedActive,'tab-not':!acceptedActive}"
        id="accepted" (click)="changeTab(accepted.id)" #accepted class=" col-3 tab-not text-center ">
            Aceptado
        </div>
        <div [ngClass]="{'tab-set': inTransitActive,'tab-not':!inTransitActive}"
        id="inTransit" (click)="changeTab(inTransit.id)" #inTransit class="col-3  tab-not text-center ">
            En transito
        </div>
        <div [ngClass]="{'tab-set': deliveredActive,'tab-not':!deliveredActive}"
        id="delivered" (click)="changeTab(delivered.id)" #delivered class="col-3 tab-not text-center  ">
            Recibidas
        </div>
        
    </div>
</div>