.auth-container{
    padding: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.invalid{
    border: 0.9 solid rgba(209, 65, 65, 0.5) ;
    border-color: rgba(209, 65, 65, 0.5) ;
    background-color: rgba(216, 79, 79, 10%) ;;
}
