<div class="container animated fadeIn" >
    <h1 style="display: inline-block;" class="mt-1">Cupones</h1>
    <hr class="mb-4">

    <div class="row">
        <div class="col-12 col-lg-5 mb-3">
            <div class="admin-card">
                <h4 class="text-acent">Crear cupón</h4>
                <form class="mt-3 mb-2">
                    <div class="form-group">
                        <label class="text-acent" for="">CODE</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label class="text-acent" for="">DESCUENTO (%)</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label class="text-acent" for="">LIMITE DE USO</label>
                        <input type="number" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-acent w-100 mt-3">Crear cupón</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div class="admin-card">
                <h4 class="text-acent">TODOS LOS CUPONES</h4>
                <input type="text" class="form-control" placeholder="Buscar...">
                <div class="mt-3">
                    <div class="cupon-card">
                        <span>CODE: <strong class="text-acent">reqrqwrerwrrqrer</strong></span> <br>
                        <span>LIMITE DE USO: <strong class="text-acent">5</strong></span> <br>
                        <span>USOS: <strong class="text-acent">2</strong></span> 
                        <span class="float-end"><strong style="color: rgb(0, 156, 13);">VÁLIDO</strong></span> 
                    </div>
                    <div class="cupon-card">
                        <span>CODE: <strong class="text-acent">reqrqwrerwrrqrewr</strong></span> <br>
                        <span>LIMITE DE USO: <strong class="text-acent">5</strong></span> <br>
                        <span>USOS: <strong class="text-acent">2</strong></span> 
                        <span class="float-end"><strong style="color: rgb(187, 48, 30);">OBSOLETO</strong></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
