
.product-list-card{
    border-radius: 18px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.20);
    transition: all 0.2s linear;
    cursor: pointer;
}

.product-list-card-body{
    padding: 12px;
    
}

.admin-card {
    padding: 13px 20px;
    border-radius: 14px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.20);
    background-color: #fff;
}
