
<div class="container animated fadeIn" >
    
    <h1 style="display: inline-block;" class="mt-3">Productos</h1>
    <div class="mt-3 float-end" style="display: inline-block; ">

        <input id="search" #termino (keyup)="search(termino.value.trim())" type="text" class=" form-control" placeholder="Buscar producto">
    </div>
    <hr class="mb-4">
    
    <div class="animated fadeIn fast alert alert-warning"*ngIf="filteredProducts.length === 0 && searching">
        Su termmino de busqueda no coincide con ningún producto. 
        <i class="mx-2 fas fa-exclamation-triangle"></i>
    </div>

    <div class="row" *ngIf="!searching">

        <app-product-card 
            *ngFor="let product of products" [productData]="product"
            class="animated fadeIn fast  col-lg-4 col-md-6 col-sm-6 col-12">
        </app-product-card>

    </div>

    <div class="row" *ngIf="searching">

        <app-product-card 
            *ngFor="let filteredProduct of filteredProducts" [productData]="filteredProduct"
            class="animated fadeIn fast  col-lg-4 col-md-6 col-sm-6 col-12">
        </app-product-card>
        
    </div>

</div>