<div>

    <div class="navbar row">   
      <div class="col-3">
        
        <i class="fas fa-plus-circle navbar-element"></i>
      </div> 
      <div class="col-3">
        <i class="fas fa-shopping-cart navbar-element"></i>
      </div> 
      <div class="col-3">
        
        <i class="fas fa-clipboard navbar-element"></i>
      </div> 
      <div class="col-3">
        
        <i class="fas fa-user navbar-element"></i>
      </div> 
    </div>
  
  
  
    <div class="container mt-4">
      
  
      <h1>Delivery App</h1>
      
        <div class="mt-4 ">
          
          <button class="btn btn-acent m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          
          <button class="btn btn-acent-disabled  m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          
          <button class="btn btn-primary m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-secondary m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-success m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-danger m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-warning m-1" >Guardar
            <i class="fas fa-check"></i>
          </button>
          
        <div class="badge btn-acent">12</div>
        
      </div>
    </div>
  </div>
