<div class="navbar">
    <i id="home" #home (click)="changePage(home.id)" [routerLink]="['/dashboard/home']" 
    class="navbar-active fas fa-home" [ngClass]="{'navbar-active': homeActive, 'navbar-inactive':!homeActive}"></i>
    
    <i style="font-size: 24px !important;" id="orders" #orders (click)="changePage(orders.id)" [routerLink]="['/dashboard/orders']" 
    class="navbar-inactive fas fa-motorcycle" [ngClass]="{'navbar-active': ordersActive, 'navbar-inactive':!ordersActive}"></i>
    
    <i id="cart" #cart (click)="changePage(cart.id)" [routerLink]="['/dashboard/cart']" 
    class="navbar-inactive fas fa-shopping-cart" [ngClass]="{'navbar-active': cartActive, 'navbar-inactive':!cartActive}"></i>
    
    <i id="account" #account (click)="changePage(account.id)" [routerLink]="['/dashboard/account']" 
    class="navbar-inactive fas fa-user" [ngClass]="{'navbar-active': accountActive, 'navbar-inactive':!accountActive}"></i>
</div>