$blur: blur(20px);
$acent: rgb(250, 88, 48);
$acent-secondary: rgb(250, 145, 119);

.navbar{
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: $blur;
    -o-backdrop-filter: $blur;
    -moz-backdrop-filter: $blur;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
    padding: 16px;
    padding-left: 10%;
    padding-right: 10%;
    backdrop-filter: $blur;
    border: none;
}

.navbar-active{
    color: $acent;
    cursor: pointer;
    transition: all 0.15s linear;
}
.navbar-active:hover{
    transform: scale(1.2);
    color: $acent;
    cursor: pointer;
    transition: all 0.15s linear;
}

.navbar-inactive{
    color: rgb(87, 87, 87) ;
    cursor: pointer;
    transition: all 0.15s linear;
}

.navbar-inactive:hover{
    transform: scale(1.2);
    color: rgb(87, 87, 87) ;
    cursor: pointer;
}