<div class="mx-lg-5 my-4">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="admin-card">
                <h5 class="text-acent">Total ordenes</h5>
                <div class="row">
                    <div class="col-8">
                        <h2 style="font-size: 40px;">{{totalOrders}}</h2>
                    </div>
                    <div class="col-4">
                        <div class="text-center content-icon">
                            <i class='bx bx-box align-middle'></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="!countTotal">
                    <i class='bx bxs-down-arrow-circle icon-down mt-1' ></i>
                    <p style="color: rgb(207, 207, 207);" class="d-inline-block mb-0">Menos que ayer</p>
                </div>
                <div *ngIf="countTotal">
                    <i class='bx bxs-up-arrow-circle mt-1 icon-up' ></i>
                    <p style="color: rgb(207, 207, 207);" class="d-inline-block mb-0">Mas que ayer</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="admin-card">
                <h5 class="text-acent">Total ordenes</h5>
                <div class="row">
                    <div class="col-8">
                        <h2 style="font-size: 40px;">${{totalMoney}}</h2>
                    </div>
                    <div class="col-4">
                        <div class="text-center content-icon">
                            <i class='bx bx-dollar align-middle'></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="!countMoney">
                    <i class='bx bxs-down-arrow-circle icon-down mt-1' ></i>
                    <p style="color: rgb(207, 207, 207);" class="d-inline-block mb-0">Menos que ayer</p>
                </div>
                <div *ngIf="countMoney">
                    <i class='bx bxs-up-arrow-circle icon-up mt-1' ></i>
                    <p style="color: rgb(207, 207, 207);" class="d-inline-block mb-0">Mas que ayer</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="admin-card">
                <h5 class="text-acent">Total ordenes</h5>
                <div class="row">
                    <div class="col-8">
                        <h2 style="font-size: 40px;">345</h2>
                    </div>
                    <div class="col-4">
                        <div class="text-center content-icon">
                            <i class='bx bx-box align-middle'></i>
                        </div>
                    </div>
                </div>
                <div>
                    <i class='bx bxs-down-arrow-circle icon-down mt-1' ></i>
                    <p style="color: rgb(207, 207, 207);" class="d-inline-block mb-0">Menos que ayer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-none d-md-block col-md-8">
            <div class="admin-card">
                <h5 class="text-acent mb-3">Ordenes recientes</h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td>{{order.createdAt.substring(0, 10) | date}}</td>
                        <td>{{order.user.name}}</td>
                        <td>{{order.status}}</td>
                        <td>${{order.total}}</td>
                      </tr>
                    </tbody>
                </table>
                <div style="height: 30px;" >

                    <button class="btn btn-acent btn-sm float-end" >Ver todos</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="admin-card">
                <h5 class="text-acent mb-3">Top productos</h5>
            </div>
        </div>
    </div>
</div>