
//valiables

// $acent: rgb(86, 73, 206);
// $acent-secondary: rgb(160, 118, 240);
$acent: rgb(238, 91, 54);
$acent-secondary: rgb(250, 145, 119);

$acent-optional: rgb(43, 187, 173);
$acent-blue: rgb(69, 82, 110);

//STYLES
.form-check-input:checked{
    background-color: $acent;
    box-shadow: 0 0 0 0.15rem rgb(238 91 54 / 25%);
    border-color: rgba(238, 91, 54, 0.25);
}
.form-check-input:focus{
    box-shadow: none;
    border-color: rgba(238, 91, 54, 0.25);
}
.form-control:focus{
    box-shadow: 0 0 0 0.15rem rgb(238 91 54 / 25%);
    border-color: rgba(238, 91, 54, 0.25);
}

.btn:focus{
    box-shadow: 0 0 0 0.05rem rgb(238 91 54 / 15%);
    border-color: rgba(238, 91, 54, 0.25);
}

label{
    font-size: 12px;
}

.bg-acent{
    background-color: $acent;
    color: white;
    
}
.bg-acent-secondary{
    background-color: $acent-secondary;
    color: white;
    
}

.alert{
    border-radius: 12px;
}

body{
    font-family: 'Quicksand', sans-serif !important ;  
    background-color: rgb(251, 251, 251);
}

a:hover{
    color: rgb(68, 46, 146);
}

button:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.15);
    padding-bottom: 6.2px;
}

button{
    outline: none !important;
}
.card-img{
    border-radius: 20px;
    width: 100%;
}

.card-cont-img{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;        
    border-radius: 20px;
    
}

.navbar{
    border-radius: 20px;
    
    background-color: white;
    // padding-top: 20px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.10);
    font-size: 24px !important;
    
}

.emp-card{
    
    border-radius: 20px;
    
    background-color: white;
    // padding-top: 20px;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.10);
    
}

.navbar-element-active {
    color: $acent;
}

.navbar-element-inactive{
    color: $acent-secondary;
}


.navbar-element-inactive :hover{
    transform: scale(1.04) !important;
}
.navbar-element-active :hover{
    transform: scale(1.04) !important;
}

.text-acent{
    color: $acent;
}

.btn-acent{
    background-color: $acent;
    color: white;
}
.btn-acent-secondary{
    background-color: $acent-secondary;
    color: white;
}

.btn-acent-disabled{
    background-color: $acent-secondary;
    color: white;
}

.btn-acent:hover{
    // background-color: rgb(228, 77, 39);
    color: white;
}
.btn-acent-secondary:hover{
    color: white;
}

.btn-acent-disabled:hover{
    cursor: no-drop; 
    color: white;
    transform: scale(1.0) !important;
    box-shadow: 0px 0px 0px transparent !important;
    padding-bottom: 6 !important;
}

.btn{
    border-radius: 12px !important;
}
.form-control{
    border-radius: 12px !important;
}
.form-select{
    border-radius: 12px !important;
}

//cardStyles

.product-card img {
    transition: all 0.15s linear;
    position: relative;
}

.product-card img:hover {
    transform: scale(1.01);
}

/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  