//valiables

$acent: rgb(235, 79, 41);
$acent-secondary: rgb(228, 113, 84);

button:hover{
    transform: scale(1.02);
    color: white !important;
    box-shadow: 0px 0px 25px rgba(37, 37, 37, 0.18);
}

body{
    font-family: 'Quicksand', sans-serif !important ;  
}

.btn-acent{
    background-color: $acent;
    color: white;
}

.btn-acent-secondary{
    background-color: $acent-secondary;
    color: white;
}

.btn{
    border-radius: 12px !important;
}